https://edge.edx.org/courses/course-v1:UPV_Tacloban_College+CMSC-128+2017_Spring/courseware/e269eca043bb430583eb2b36b47d7d97/42c90f27e52a45feb4cfbd8a16c2e203/?activate_block_id=block-v1%3AUPV_Tacloban_College%2BCMSC-128%2B2017_Spring%2Btype%40sequential%2Bblock%4042c90f27e52a45feb4cfbd8a16c2e203
<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Suffragist</title>
    
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="/css/bootstrap.css" rel = "stylesheet"/>
	<link href="/css/bootstrap-responsive.css" rel = "stylesheet"/>
	
  </head>
  <body class='container'>
	<div class = 'row text-center'>
		<h1 class = "freedom" >Freedom Board</h1>
		<div class = "col-sm-8">
		
			<form action="/" method="POST">
				<div class = "form-group">
					<textarea class = "upper-textarea" rows="3" name = "txt1" placeholder="Please type message"></textarea>
				</div>
				<div class = "form-group">
					<textarea class = "lower-textarea" rows="1" name = "txt2" placeholder = "Anonymous"></textarea>
					<button class= "btn btn-primary" type = "submit">Ipahayag!</button>
				</div>
			</form>
			
			<div class= "panel panel-primary">
				<div class = "form-group">
					<form action = "/findpost" method = "post">
						<textarea class = "form-control" rows="1" name = "txt3" placeholder="Hanapin ang post"></textarea>
						<button class= "btn btn-primary" type = submit>Hanapin</button>
					</form>
					<form action = "/allposts" method = "post">
						<button class= "btn btn-primary">Lahat ng post</button>
					</form>
				</div>
				<div class = "con">
				<section>
					<%if File.exist? "message.yml"%>
						<div class="panel-body">
							<% @yaml_file.reverse_each do |key , value| %>
								<div class = "within">
									<div class = "pull-left"><label class = "lbl"><%= value[1] %></label></div>
									<div class = "pull-right"><label class = "lbl"> <%= key%></label></div>
									<br><p><%= value[0] %></p>
								</div>
							<%end%>
						</div>
					<%end%>
				</section>
				
			</div>
			</div>
		</div>
	</div>
  </body>
</html>